body{
    font-family: 'Work Sans', sans-serif;
}
.bold-head{
    font-size: 50px;
}
.button-design {
    text-decoration: none;
    color: azure;
    padding: 10px 40px;
    background-image: linear-gradient(rgb(172, 214, 35), rgb(33, 10, 147));
    border-radius: 10px;
    font-weight: 800;
}
.top-bannner{
    height: fit-content;
    background-image: url(images/donation3.jpg);
    background-size: cover;
    color: white;
    background-position: center;
    margin: auto;
    display: block;
}

.banner-text{
    text-align: center;
    align-content: center;
    width: 50%;
    margin: auto;
    padding: 100px;
}
/* second part */
.second-part{
    text-align: center;
    margin: auto;
    width: 60%;
}
.amount-button{
    text-align: center;
    display: flex;
    margin: auto;
}
.amount {

    font: bold;
    text-align: center;
    padding: 40px 40px;
    background-color: rgb(250, 250, 250);
    margin: 10px;
    width: 60px;
    border: 5px red;

}
.red-border {
    background-color: rgba(158, 47, 47, 0.158);
    padding: auto;
    color: red;
    border-style: solid;
    border-radius: 5px;
}
.hr {
    text-align: center;
    margin: auto;
    width: 60%;
}
.other-amount {
    padding: 0 50px;
    border: none;
    text-align: center;
}